<%- include('header') -%>
<form method="POST">
    <div class="container">
        <div class="row">
    <div class="col-6">
      <label for="deviceNameInput" class="form-label">Device name</label>
      <input type="text" required class="form-control" id="deviceNameInput" name="name" 
      value="<%= (typeof devices === 'undefined') ? '' : devices.name %>" >
      
    </div>
    <div class="col-6">
      <label for="deviceNameInput" class="form-label">Device type</label>
      <input type="text" required class="form-control" id="deviceType" name="type"
      value="<%= (typeof devices === 'undefined') ? '' : devices.type %>" >
    </div>
    <div class="row">
      <div class="col-6">
        <label for="deviceDescription" class="form-label">Device description</label>
        <input type="textarea" required class="form-control" id="deviceDescription" name="description"
        value="<%= (typeof devices === 'undefined') ? '' : devices.definition %>" >
      </div>
    </div>
    </div>
    <input type="submit" class="btn btn-dark"></a>
    <a href="/main" class="btn btn-danger"> Cancel </button></a>
    </div>
  </form>

<%- include('footer') -%>