<%- include('header') -%>
<div class="container">
    <table class="table table-striped" style="border: 1px solid grey">
        <tbody>
            <tr...>
                <% devices.forEach(function(device) { %>
                <tr>
                    <td>
                        <%= device.name %>
                    </td>
                    <td>
                        <%= device.type %>
                    </td>
                    <td>
                        <%= device.definition %>
                    </td>
                    <td> <a href="/editDevices" class="btn btn-dark"> Details </td>
                </tr>
                <% }); %>        
            </tr>
        </tbody>
    </table>
    <div class="col">
        <a href="/device/new" class="btn btn-primary"> Add new device  </a>    
    </div> 
    Recent logs:
    <div class="col">
        <textarea readonly rows="5" cols="60"><% logs.forEach(function(log){ %>
<%= log.message %><% }); %>
</textarea>
    </div>
    <a href="/log/edit" class="btn btn-danger"> Edit Logs</a>    

</div>
<%- include('footer') -%>